<% @stations.each do |station| %>
  
  <ul class="station">
  <h4 class="name"><%= station.name %></h4>
  <li class="address">Address: <%= station.address %></li>
  <li class="type">Fuel types: <%= station.type %></li>
  <li class="distance">Distance: <%= station.distance %></li>
  <li class="access_time">Access times: <%= station.access_time %></li>
  </ul>

<% end %>