<ul class="stations">
<% @stations.each do |station| %>

  <li class="name"><%= station.name %></li>
  <li class="address"><%= station.address %></li>
  <li class="type"><%= station.type %></li>
  <li class="distance"><%= station.distance %></li>
  <li class="access_time"><%= station.access_time %></li>

<% end %>
</ul>