<% @stations.each do |station| %>
  
  <ul class="station">
  <h4 class="name"><%= station.name %></h4>
  <li class="address"><%= station.address %></li>
  <li class="type"><%= station.type %></li>
  <li class="distance"><%= station.distance %></li>
  <li class="access_time"><%= station.access_time %></li>
  </ul>

<% end %>